#WeatherWidget {
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	width: 300px;
}

#header {
	background-color: #E4ECF9;
	border-top: 1px blue solid;
	margin-bottom: 10px;
	color: #36C;
	font-size: 18px;
}

#loadDialog {
	float: right;
	padding: 2px 5px 0 0;
	font-size: 12px;
}

.big {
	font-size: 16px;
}

div.weatherFig {
	float: right;
	text-align: center;
	padding: 0 10px;
	font-size: 10px;
}

form p {
	margin-left: 20px;
}
