body {
	background-color: white;
	color: black;
	font-size: 12px;
}

form {
	float: left;
	width: 200px;
}

.vert {
	text-align: center;
	vertical-align: bottom;
}

.horiz {
	padding: 5px;
}

th.vert {
	border-left: 1px black solid;
	border-bottom: 1px black solid;
	vertical-align: middle;
	text-align: left;
	font-size: 16px;
}

th.horiz {
	border-right: 1px black solid;
	vertical-align: middle;
	text-align: left;
	font-size: 16px;
}
